body {
    background-image: url('../assets/background2.jpg');
    background-size: cover;
    background-position: center;
}

.input {
    margin-bottom: 16px;
}

.input:last-of-type {
    margin-bottom: 0;
}

label {
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: none;
   appearance: none;
}

input {
    max-width: 50px;
    text-align: center;
    border: none;
    border-bottom: 1.5px solid black;
    background-color: transparent;
    box-sizing: border-box;
}

select {
    border: none;
    background-color: #FFFFFFBF;
    border-radius: 6px;
    text-align: center;
    appearance: none;
    padding: 4px;
}